:root {
  --ifm-color-primary: #3657c8;
  --ifm-color-primary-dark: #2f4eb5;
  --ifm-color-primary-darker: #2c49aa;
  --ifm-color-primary-darkest: #243c8c;
  --ifm-color-primary-light: #4b68cf;
  --ifm-color-primary-lighter: #5671d2;
  --ifm-color-primary-lightest: #788ddd;
  --ifm-code-font-size: 92%;
}

[data-theme='dark'] {
  --ifm-color-primary: #91a7ff;
  --ifm-color-primary-dark: #6f8bff;
  --ifm-color-primary-darker: #5e7eff;
  --ifm-color-primary-darkest: #2b55ff;
  --ifm-color-primary-light: #b3c3ff;
  --ifm-color-primary-lighter: #c4d0ff;
  --ifm-color-primary-lightest: #f7f9ff;
}

.hero--primary {
  background: linear-gradient(135deg, #17255c, #3657c8 60%, #5273ec);
}
